body{
    font-family: "Lucida Console", "Courier New", monospace;
    color: black;
    line-height: 1.4;
}

a{
    text-decoration: none;
}

doubleUnderline {
    text-decoration-line: underline;
    text-decoration-style: double;
}

.h1font{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
}

.h2font{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
}

.h3font{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
}

.h4font{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
}

.spacer{
    margin-bottom: 10px;
}